  .pirmakaste {    
  border-style: solid;
  border-color: #2F4F4F;
  background-color:#B0C4DE;
  padding: 10%;
  margin-left: 30%;
  margin-right:30%;
}

.kaste {    
  border-style: solid;
  border-color:#2F4F4F;
  background-color:#5F9EA0;
  padding: 10%;
  margin-left: 30%;
  margin-right:30%;
  text-align:center;
}
img {
  width:300px;
  height:auto;
}

